.form-item-search-playlists-name {
  display: inline;
}

#edit-add-playlist-button {
  float: right;
}

#spider_video_player_add_videos_search  .form-item {
  margin: 0 !important;
  padding: 0 !important;
}
