.form-item-search-tags-name,
.form-item-search-videos-name,
.form-item-search-videos-by-playlist-select,
.form-item-search-playlists-name,
.form-item-video-type {
  display: inline;
}

#content,
#note {
  text-align:justify;
  width:1100px;
}

#sliding_popup {
  display:block;
  left:0px;
  margin:0px;
  padding:0px;
  position:fixed;
  width:100%;
}

.spider_video_player_theme_fieldset {
  float: left;
  margin-right: 10px;
	width: 255px;
}

#theme_video_control_parameters {
  clear: both;
  float: left;
  margin-right: 10px;
  width: 100%;
}

.form-item-centerBtnAlpha,
#slider-centerBtnAlpha,
.form-item-watermarkAlpha,
#slider-watermarkAlpha,
.form-item-framesBgAlpha,
#slider-framesBgAlpha,
.form-item-ctrlsMainAlpha,
#slider-ctrlsMainAlpha,
.form-item-defaultVol,
#slider-defaultVol {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}
